@import url('https://fonts.googleapis.com/css2?family=Average+Sans&family=Fugaz+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

.logo {
    width: 200px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

nav a {
    text-align: center;
    color: #ffde7d;
    text-decoration: none;
    padding: 10px 20px;
    font-family: 'Fugaz One';
    font-size: 1.2em;
}

nav a:hover {
    background-color: #ffde7d;
    color: #bd7c20;
    border-radius: 5px;
}

.home-title {
    color: white;
    font-family: 'Fugaz One', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

#hero h2 {
    color: white;
    font-family: 'Average Sans', sans-serif;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

#hero-img {
    width: 100%;
}

#hero-msg .book {
    margin: 0 auto;
    width: fit-content;
}

#hero-msg h1, #hero-msg h2 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

header  {
    background-color: #182a36;
    display: grid;
    grid-template-columns: 250px auto;
    align-items: center;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto;
    gap: 20px;
}

.home-grid h2 {
    font-family: 'Fugaz One';
    color: #666e66;
}

body {
    font-size: 22px;
    font-family: 'Average Sans', sans-serif;
}

.icon {
    width: 60px;
    padding-top: 10px;
}

.book, .join {
    background-color: #182a36;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #ffde7d;
    color: #bd7c20;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 20px 0;
}

.rivers-card {
    grid-column: 2 / 4;
    grid-row: 2;
}
.camping-card {
    grid-column: 5 / 7;
    grid-row: 2;
}
.rapids-card {
    grid-column: 8 / 10;
    grid-row: 2;
}

.card-img  {
    border: 2px solid #182a36;
    border-radius: 10px;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.card-img, .mountains {
    width: 100%;
}

#background {
    height: 725px;
    background-color: #ffde7d;
    grid-column: 1/11;
    grid-row: 4/9;
}

.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg {
    background-color: #bd7c20;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg h2  {
    color: white;
    font-family: 'Fugaz One', sans-serif;
}

.msg p {
    color: white;
    font-family: 'Average Sans';
    font-size: .8em;
    padding-bottom: 15px;
}

footer {
    background-color: #182a36;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color:  #ffde7d;
    text-decoration: none;
    padding: 10px 20px;
    font-family: 'Fugaz One';
}

footer a:not(.social a):hover {
    background-color: #ffde7d;
    color: #bd7c20;
    border-radius: 5px;
}

footer p {
    font-size: 1em;
    color: #ffde7d;
    font-family: 'Average Sans';
}

footer .social img {
    max-width: 50px;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}