* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #e8eced;
}

.card {
    margin-top: 50px;
    position: relative;
    width: 100%; 
    max-width: 900px;
    text-align: center;
    z-index: -1;
}

.card img {
    width: 100%;
    border: 5px solid black;
    border-radius: 25px;
}

.card h1 a, .card h2 a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#first-pres, #quorum-twelve {
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    z-index: 2;
}

#quorum-twelve {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#first-pres img, #pres img, #quorum-twelve img {
    width: 100px;
    height: 100px;
    border: 4px solid white;
    border-radius: 50%;
    object-fit: cover;
    object-position: center 10%;
}

.card h1, .card h2 {
    position: absolute;
    width: 100%;
    z-index: 3;
}

#pres img {
    width: 150px; 
    height: 150px;
}

