@import url('https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&family=Love+Light&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 1000px;
    margin: 0 auto;
}



nav ul {
    display: flex;
    justify-content: space-around;
    margin: 50px;
    font-size: 4em;
    color: rgb(130, 56, 133);
    font-family: 'Love Light';
}

body {
    background-color: rgb(255, 205, 223);
}

main {
    align-items: center;
}

main h1, main img{
    display: flex;
    justify-content: center;
}

main h1 {
    color: white;
    font-family: 'Kalnia Glaze';
    font-size: 2em;
    margin: 20px;
}

main img {
    border-radius: 10%;
    border: 5px solid #ff006a;
}

section {
    background-color: pink;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: 30px;
    max-width: 700px;
}

section h2 {
    display: flex;
    justify-content: center;
    color: rgb(130, 56, 133);
    font-family: 'Love Light';
    font-size: 3em;
    margin: 20px;
}

section p {
    color: rgb(130, 56, 133);
    max-width: 400px;
    text-align: center;
    margin: auto 0;
}

footer {
    display: flex;
    justify-content: center;
    margin: 40px;
}