* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #ffecd7;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    margin-top: 50px;
    background-color: #008db1;
    border: 5px solid #004e63;
    border-radius: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px 15px;
    flex: 1;
    max-width: 400px;
}

.card h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #fffffe;
    font-size: 1.7em;
}

.card a {
    font-family: Arial, Helvetica, sans-serif;
    color: #91e4fb;
    text-decoration: none;
}

img {
    border: solid white;
    max-width: 250px;
}

ul {
    display: flex;
    flex-direction: column;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.1em;
    list-style-position: inside;
}

blockquote {
    margin: 0 auto;
    max-width: 1fr;
    text-align: center;
    font-family: "Brush Script MT", "Nanum Brush Script", cursive;
    line-height: 1.4;
    color: #ffd783;
    margin: 0;
}

h2 a {
    font-family: Helvetica, Arial, sans-serif;
    color: #91E4FB;
    font-size: 0.6em;
    font-weight: normal;
}