* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 1000px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

nav {
    border: 3px solid #4a4326;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    background-color: grey;
    padding: 2em;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

section#blue {
    background-color: aqua;
}

section#red {
    background-color: lightcoral;
}

/* section#green {
    background-color: greenyellow;
} */

section#about {
    grid-column: 1/4;
    border: 3px solid black;
}